// Font
$mainFont                : 'Roboto-Base', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.6;

$desktopWidth            : 1440px;
$mDesktopWidth           : 1200px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$smTableWidth            : 600px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default                 : #ffffff;
$black                   : #000;
$grey                    : #808080;
$greyF4F                 : #F4F2ED;
$greyC4C                 : #C4C4C4;
$greyA0A                 : #A0A0A0;
$yellow                  : #FFD25A;
$orange                  : #FD6141;
$red                     : #FD6141;
$link                    : #4F69C5;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #CCCCCC;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
