.registration {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url('/assets/img/photo.svg') no-repeat center right -55px;
  @media screen and (max-width: $smTableWidth) {
    background: url('/assets/img/photo.svg') no-repeat bottom 80px right -55px;
  }
  @media screen and (max-width: $phoneWidth) {
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: 30% !important;
  }
  &__wrap {
    display: flex;
    background: url('/assets/img/calendar.svg') no-repeat bottom left;
    @media screen and (max-width: $smTableWidth) {
      flex-wrap: wrap;
      background: url('/assets/img/calendar.svg') no-repeat top 150px left;
    }
    @media screen and (max-width: $phoneWidth) {
      background-size: 20% !important;
    }
    @media screen and (max-width: $smPhoneWidth) {
      background: url('/assets/img/calendar.svg') no-repeat top 230px left;
      background-size: 30% !important;
    }
  }
  &__info {
    width: 39%;
    margin: 0 12% 0 0;
    @media screen and (max-width: $smTableWidth) {
      width: 100%;
      margin: 0 0 66px 0;
    }
  }
  &__title {
    font-size: 32px;
    line-height: 1.16em;
    @media screen and (max-width: $phoneWidth) {
      font-size: 24px;
      text-align: center;
    }
  }
  &__subtitle {
    display: inline-block;
    margin: 20px 0 0 0;
    color: $grey;
    @media screen and (max-width: $phoneWidth) {
      font-size: 14px;
    }
  }
  &__form {
    width: 49%;
    @media screen and (max-width: $smTableWidth) {
      width: 100%;
    }
  }
}
